<html>
  <body style="font-family: Arial, sans-serif; background-color: #f8f8f8; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
      <h2 style="color: #2c3e50;">hii 👋</h2>
      <p style="font-size: 16px; color: #34495e;">
    these demo and testing emails are sent to you by Kuldeep Verma.
      </p>
      <p style="text-align: center;">
        <a href="http://localhost:5000/track/click?email={{ email }}&target=https://google.com" style="background-color: #3498db; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">View the Offer</a>
      </p>
      <p style="font-size: 14px; color: #7f8c8d;">No longer interested?
        <a href="http://localhost:5000/unsubscribe?email={{ email }}">Unsubscribe here</a>
      </p>
      <img src="http://localhost:5000/track/open?email={{ email }}" width="1" height="1">
    </div>
  </body>
</html>